@import 'public';
.top{
    width:100%;
    height:70px;
    background:black;
}
.top-con{
    width:1200px;
    height:70px;
    margin:0 auto;
}
.top-conI{
    width:30px;
    height:70px;
    float:left;
    img{
        width:100%;
        height:100%;
        }
}

.top-conR{
    width:208px;
    height:70px;
    float:right;
    a{display:block;
        float:left;
        padding:0 10px;
        text-align:center;
        line-height:70px;
        font-size:12px;
        color:gray;
        }
 }
.top-conR a:hover{color:gold}
/*marjor*/
.marjor{
    width:100%;
    height:720px;
    background:#fdf8f4;
    }
.major-con{
    width:1200px;
    height:720px;
    margin:0 auto;
    }
.majorLeft{
    width:700px;
    height:720px;
    float:left;
    padding-left:70px;
    }
.majorRight{
    width:380px;
    height:620px;
    float:left;
    padding-top:100px;
    }
.majorRightCon{
    width:320px;
    height:490px;
    background:white;
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
    }
.mtop{
    width:310px;
    height:290px;
}
.enter{
    width:310px;
    height:20px;
    padding-bottom:50px;
}
.ewm{
    width:155px;
    height:20px;
    float:left;
    font-size:14px;
    cursor:pointer;
    text-align:center;
   
}
.pass{
    width:155px;
    height:20px;
    float:right;
    font-size:14px;
    cursor:pointer;
    text-align:center;
    color:orange;
}
.pwod{
    width:310px;
    height:231px;
}
.user{
    width:310px;
    height:30px;
    position:relative;
    border:1px solid gray;
    padding-top:15px;
}
.mailbox{
    font-size:12px;
    left:10px;
    top:18px;
    position:absolute;
}
#userName{
    width:310px;
    height:20px;
    vertical-align: middle;
}

.pass1{
    margin-top:8px;
    width:310px;
    height:30px;
    position:relative;
    border:1px solid gray;
    padding-top:15px;
}

.passbox{
    font-size:12px;
    left:10px;
    top:18px;
    position:absolute;
}

#userpass{
    width:310px;
    height:20px;
    vertical-align: middle;
}
.auth{
    width:310px;
    height:20px;
    font-size:12px;
    padding-top:10px;
}
.authall{
    width:310px;
    height:50px;
    margin-bottom:5px;
}
.authleft{
    width:112px;
    height:50px;
    background:blue; 
}
#authbor{
    width:100%;
    height:50px;
    line-height:50px;
    font-size:12px;
    border:1px solid gray;
}
.remember{
    font-size:12px;
}
#remember1{
    width:10px;
    height:10px;
    background:gray;
    margin-right:5px;
}
.immediately{
    width:310px;
    height:50px;
    background:orange;
    text-align:center;
    line-height:50px;
    a{
        font-size:14px;
    }
}
#im{
    width:100%;
    height:50px;
    text-align:center;
    line-height:50px;
    font-size:14px;
    color:white;
    background:orange;
}  
.cooperation{
    font-size:12px;
    color:gray;
    padding-top:5px;
}
.qqwei{
    width:310px;
    height:30px;
  
    margin-top:10px;
}
.qq{
    font-size:12px;
    color:gray;
    display: block;
    float:left;
    width:50px;
    height:30px;
    line-height:30px;
    img{
        width:15px;
        height:15px;
        float:left;
        padding-top:8px;
    }
    span{
        width:25px;
        height:15px;
        display:block;
        float:left;
        margin-left:5px;
    }
}

.wei{
    font-size:12px;
    color:gray;
    display: block;
    float:left;
    width:50px;
    height:30px;
    line-height:30px;
    margin-left:5px;
    img{
        width:15px;
        height:15px;
        float:left;
        padding-top:8px;
    }
    span{
        width:25px;
        height:15px;
        display:block;
        float:left;
        margin-left:5px;
    }
}
.fot{
    width:310px;
    height:20px;
 
    margin-top:30px;
}
.hui{
    width:160px;
    height:20px;
    
    float:left;
    font-size:12px;
    i{
        color:gray;
    }
    a{
        color:orange;
    }
}
.forget{
  font-size:12px;
  float:right;
  color:gray;
}














/*footer*/
.footer{
    width:100%;
    height:455px;
    background:#f5f5f5;
}
.footercon{
    width:1200px;
    height:375px;
    margin:0 auto;
    padding-top:80px;
}
.footerconTop{
    width:1200px;
    height:150px;
}
.list{
    width:236px;
    height:136px;
    float:left;
    margin-right:1px;
    a{
        display:block;
        font-size:12px;
        line-height:25px;
    }
}
.copy{
    width:1200px;
    height:158px;
}
.copyTop{
    width:1200px;
    height:60px;
}
.copyTop a{
        font-size:12px;
        height:17px;
        display:block;
        float:left;
        margin-right:34px;
       padding-bottom:13px;
}
.copybottom{
    width:1200px;
    height:45px;
    padding-top:5px;
    a{
        width:108px;
        height:40px;
        margin-right:20px;
        display: block;
        float:left;
        img{
            width:100%;
            height:100%;
        }
    }
}
